section{
    width: 100vw;
    height: 100vh;
    background-color:white;
    display: flex;
}
body{margin: 0px;}
.box1{ width: 73rem;
    height: 63rem;
    border-radius: 16rem;
    display: block;
    background: #45a52a;
    position: absolute;
    top: -69px;
    left: -483px;
    transform: rotate( 
70deg
);
    display: flex;
}

    .box2{     width: 59rem;
        height: 74rem;
        border-radius: 10rem;
        display: block;
        background: gold;
        position: absolute;
        transform: rotate( 
    238deg
     );
        top: -194px;
        left: -361px
    }

    .fancy-border{

        border-radius: 30% 70% 72% 28% / 68% 41% 59% 32%;
        width: 205px;
        height: 176px;
        background-color: #ffffff1a;
        text-align: center;
        position: relative;
        z-index: 2;
        display: flex;
        margin-left: 136px;
        margin-top: 185px;
    }

    .header{
        z-index: 2;
        display: flex;
        height: 500px;
        width: 700px;
        flex-direction: column;
        align-items: center;
        margin-left: -50px;
        
    }
    
    .text{   
        
    color: #fff;
    width: 64em;
    float: left;
    display: flex;
    position: relative;
    margin-top: -30px;
}


    
    
    
    
        
    h1{
       
        font-size: 3em;
    font-family: sans-serif;
    
    margin-top: 148px;
    /* margin-right: 56px; */
    font-style: bold;
    font-weight: 800;
    margin-left: 87px;}
      
    
    .logo{
    
    
    margin-top: 30px;
    z-index: 2;
    display: flex;
    width: 53em;
    }
    
    .logo img{        height: 79px;
        width: 233px;}
    
        p{       
            font-size: 1.3em;
            width: 41em;
            float: left;
            color: white;
            font-family: sans-serif;
            margin-top: -18px;
    }
    
    .fancy-border2{
        border-radius: 100% 0% 0% 100% / 67% 41% 59% 33%;
        width: 201px;
        height: 346px;
        background: #80808014;
        position: sticky;
        float: right;
    
        /* top: 0%; */
        bottom: 100%;
        left: 98%;
    }

    .image{
        height: 582px;
        width: 418px;
        margin-top: 40px;
        margin-left: 85px;}
        #box{
            box-shadow: 4px 0px 9px 4px #80808033;
            border: 1px solid #80808033;
            box-shadow: 1px 2px 3px 4px 5px grey;
            display: inline-block;
            margin-top: 64px;
            width: 386px;
            
            padding: 13px;
            border-radius: 50px;
        
            font-size: 19px;
            margin-right: 200px;
        }
        button{    background-color: gold;
        color: black;}
            
        .fancy-border3{

            border-radius: 1% 99% 99% 1% / 68% 49% 51% 32%;
            width: 300px;
            height: 222px;
            background-color: #80808014;
            text-align: center;
            position: relative;
            display: flex;
            top: 33%;
            right: 11%;
        }
        button{    width: 201px;
            color: white;
            padding: 19px;
            border-radius: 50px;
            border: none;
            font-size: 19px;
            margin-left: 16px;
            background-color: black;
            cursor: pointer;
        }
        
        
        #box{
            width: 261px;
            /* height: 212px; */
            padding: 19px;
            border-radius: 50px;
            border: none;
            font-size: 19px;
        }
        .fancy-border4{
            margin-top: 19em;
            margin-right: 8em;
            border-radius: 70% 57% 43% / 68% 26% 74% 32%;
            width: 95px;
            height: 38px;
            background-color:gold;
        animation: blink 1s infinite;

        }

        @keyframes blink {
            0%{
                transform: scale3d(1.5, 1.5, 2); }
            100%{
                
            }
            
        }

        .fancy-border5{
            margin-left: 786px;
            bottom: 10%;
            position: absolute;
            border-radius: 70% 57% 43% / 68% 26% 74% 32%;
            width: 47px;
            height: 38px;
            background-color: #131212;
            animation: rotate 2s infinite;
            display: inline-block;
        }
        @keyframes rotate {
            0%{transform: rotateZ(
                360deg
                );

            }
            100%{

            }
            
        }
            
           
        
        
    
    